@import "../../global.scss";
@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400&family=Oswald:wght@300;400;500;700&display=swap");

$radius: 0.2rem;

body {
  font-family: Oxygen, sans-serif;
}

.portfolio {
  background-color: #ffffff;
  background-image: linear-gradient(180deg, #ffffff 0%, rgb(0, 204, 255) 100%);
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;


  h1 {
    font-size: 45px;
    font-weight: 700;
    padding-bottom: 10px;
    font-family: "Roboto", monospace;
    overflow: hidden;
    @include mobile {
      font-size: 30px;
      margin-top: 5px;
      &::-webkit-scrollbar {
        display: none;
      }
    }
  }
}

.cardContainer {
  display: flex;
  flex-wrap: nowrap;

  &::-webkit-scrollbar {
    display: none;
  }
}

.card {
  overflow: hidden;
  background-color: white;
  box-shadow: 0px 2px 20px $clr-gray600;
  height: 430px;
  border-radius: $radius;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  transition: transform 200ms ease-in;
  flex-direction: column;
  &::-webkit-scrollbar {
    display: none;
  }

  @include mobile {
    height: 225px;
    width: 250px;
    display: flex;
    flex-wrap: wrap;
    &::-webkit-scrollbar {
      display: none;
    }
  }

  .card__body {
    &::-webkit-scrollbar {
      display: none;
    }
    @include mobile {
      &::-webkit-scrollbar {
        display: none;
      }
    }
  }

  &__image {
    height: 14rem;
    width: 100%;
    object-fit: cover;
    &::-webkit-scrollbar {
      display: none;
    }
    @include mobile {
      height: 9.7rem;
      &::-webkit-scrollbar {
        display: none;
      }
    }
  }

  &__title {
    padding: 1rem;
    &::-webkit-scrollbar {
      display: none;
    }
    @include mobile {
      margin-left: 5px;
      &::-webkit-scrollbar {
        display: none;
      }
    }
  }

  &__description {
    padding: 0 1rem;
    font-weight: 400;
    font-style: italic;
    font-family: "Lato", sans-serif;
    &::-webkit-scrollbar {
      display: none;
    }
    
    @include mobile {
      margin-left: 5px;
      &::-webkit-scrollbar {
        display: none;
      }
    }
  }

  &__a {
    color: black;
    &::-webkit-scrollbar {
      display: none;
    }

    @include mobile {
      &::-webkit-scrollbar {
        display: none;
      }
    }
  }

  &__btn {
    padding: 1rem;
    font-family: inherit;
    font-weight: bold;
    font-style: 1rem;
    margin: 1rem;
    bottom: 2px solid black;
    background: transparent;
    color: black;
    border-radius: $radius;
    transition: 200ms ease-in, color 200ms ease-in;
    cursor: pointer;
    &::-webkit-scrollbar {
      display: none;
    }
    @include mobile {
      padding: 0.5rem;
      &::-webkit-scrollbar {
        display: none;
      }
    }
  }

  .links {
    display: flex;
    justify-content: center;
  }

  &:hover {
    transform: scale(1.02);
  }

  &:hover &__a {
    background: $clr-primary;
    color: white;
  }
}
