@import "../../global.scss";
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400&family=Oswald:wght@300;400;500;700&display=swap');

$radius: 0.2rem;

body{
  font-family: Oxygen, sans-serif;
}


.wrapperPortfolio {
  display: grid;
  grid-template-columns:repeat(auto-fit, minmax(12rem, 16rem));
  gap: 2rem;
  background-image: linear-gradient(180deg, #FFFFFF 0%, rgb(0, 204, 255) 100%);
  padding-top: 80px;
  justify-content: center;
  scrollbar-width: none; //for firefox
  &::-webkit-scrollbar{
      display: none;
  };
}


.card {
  overflow: hidden;
  background-color: white;
  box-shadow: 0px 2px 20px $clr-gray600;
  height: 430px;
  border-radius: $radius;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  transition: transform 200ms ease-in;
  scrollbar-width: none; //for firefox
  &::-webkit-scrollbar{
      display: none;
  };

  &__image{
    height: 15rem;
    width: 100%;
    object-fit: cover;
  }

  &__title{
    padding: 1rem;
  }

  &__description {
    padding: 0 1rem;
    font-weight: 400;
    font-style: italic;
    font-family: 'Lato', sans-serif;
  }

  &__a {
      color: black;
  }

   &__btn{
    padding: 1rem;
    font-family: inherit;
    font-weight: bold;
    font-style: 1rem;
    margin: 1rem;
    bottom: 2px solid black;
    background: transparent;
    color: black;
    border-radius: $radius;
    transition: 200ms ease-in, color 200ms ease-in;
    cursor: pointer;
  }

.links {
    display: flex;
    justify-content: center;
}


  &:hover{
    transform: scale(1.02);
  }

  &:hover &__a{
    background: $clr-primary;
    color: white;
  }


}



