@import "../../global.scss";

.porfolioList {
    font-size: 14px;
    margin-right: 50px;
    padding: 7px;
    border-radius: 10px;
    cursor: pointer; 
    scrollbar-width: none; //for firefox
    &::-webkit-scrollbar{
        display: none;
    };


    ul {
        li {
            @include mobile {
                justify-content: space-between;
            } 
        }
    }
    


    &.active{
        background-color: $mainColor;
        color: white;
    }
}