@import "../../global.scss";

.works {
    background-color: #FFFFFF;
    background-image: linear-gradient(180deg, #FFFFFF 0%, rgb(0, 204, 255) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    &::-webkit-scrollbar{
        display: none;
    };

    @include mobile {

    }

    h1 {
        font-size: 50px;
        font-weight: 700;
        padding-top: 40px;
        font-family: 'Roboto', monospace;
        overflow: hidden;
        @include mobile {
            font-size: 30px;
        }   
    }

    .arrow{
        height: 50px;
        position: absolute;
        cursor: pointer;

        @media screen and (max-width: 1216px){
            bottom: 20px;
        }

        @include mobile {
        }


        &.left{
            left: 100px;
            height: 80px; 
            @media screen and (max-width: 1216px){
                height: 40px;
                display: flex;
                justify-content: center;
            }
        }

        &.right{
            transform: rotateY(180deg);
            right: 100px;
            height: 80px;
            @media screen and (max-width: 1216px){
                height: 40px;
                display: flex;
                justify-content: center;
            }
        }
    }
}

.slider {
    height: 450px;
    display: flex;
    position: absolute;
    left: 0;
    transition: all 1s ease-out;
    &::-webkit-scrollbar{
        display: none;
    };
    @include mobile {
        height: 70vh;
        justify-content: center;
        align-content: flex-start; 

    }

    .slide-container {
        width: 50%;
        
        button {
            // display: none;
        }

        img {
            height: 100%;
            width: 200%;
            border-radius: 10px;
        }

        h2 {
            text-align: center;
        }
    }
    
    .container {
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: center;
        &::-webkit-scrollbar{
            display: none;
        };        

        @include mobile {
            margin-top: 10px;
            flex-direction: column;
        }
    }

    .item {
        width: 900px;
        height: 100%;
        background-color: white;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;

        @include mobile {
            width: 90%;
            margin: 5px 0;
            flex-direction: column;
        }
    


        .left {
            flex: 3;
            height: 80%;
            display: flex;
            align-items: center;
            justify-content: center;

            .leftContainer {
                width: 100%;
                height: 100%;
                padding-left: 5px;
                padding-right: 5px;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                @include mobile {
                    flex-direction: column;
                    padding-left: 0;
                }
            

                .imgContainer {
                    width: 40px;
                    height: 40px;
                    border-radius: 10%;
                    background-color: white;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    @include mobile {
                        width: 20px;
                        height: 20px;
                        align-items: flex-start;
                        display: none;
                    }

                    .img {
                        width: 25px;
                        @include mobile {
                        }
                    }
                }
                h2 {
                    font-size: 40px;
                    text-align: center;
                    @include mobile {
                        font-size: 23px;
                        margin-top: 10px
                        &::-webkit-scrollbar{
                            display: none;
                        };
                    }
                }
                p {
                    font-size: 15px;
                    font-weight: 500;
                    @include mobile {
                        text-align: center;
                        padding: 2px;
                        &::-webkit-scrollbar{
                            display: none;
                        };
                    }
                }
                a {
                    font-size: 12px;
                    font-weight: 600;
                    text-decoration: underline;
                    cursor: pointer;
                }

            }
        }
        .right {
            flex: 6;
            height: 100%;
            display: flex;
            overflow: hidden;
            align-items: flex-start;
            justify-content: end;
            img {
                border-radius: 10px;
                @include mobile {
                    width: 100%;
                }
            }
        }
    }
}
