@import "../../global.scss";
@import '~antd/dist/antd.css';


#tsparticles {
    background: rgb(0,0,0);
    // background: linear-gradient(0deg, rgba(0,0,0,0.8717447916666666) 2%, rgba(148,2,143,0.9196428571428571) 28%, rgba(18,130,194,1) 53%, rgba(251,251,251,1) 100%);    
    height: 100%;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    scrollbar-width: none; //for firefox
    &::-webkit-scrollbar{
        display: none;
    };
}

.wrapper2 {
    width: 30%;
    position: absolute;
    margin: 10px;
    bottom: 0px;
    @include mobile {
        height: 50px;
    }
}

.time{
    // -moz-border-radius: 70px; 
    // -webkit-border-radius: 70px; 
    // border-radius: 50%;
    font-size: 34px;
    width: 150px;
    height: 60px;
    color: white;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 44%;
    left: 42%;
    @include mobile {
        width: 100px;
        height: 30px;
        background: none;
        font-size: 15px;
    }
}


.intro{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    
    @include mobile {
        display: flex;
        flex: 1;
        justify-content: center;
        align-items: center;
    }

    .center{
        background-color: none;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        margin-top: 600px;

        .wrapper{
            backdrop-filter: (10px);
            width: 500px;
            height: 300px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            background-color: none;
            align-items: center;
            @include mobile {
                width: 300px;
                align-items: center;
                padding-left: 0;
            }

            h1 {
                font-size: 55px;
                color: white;
                margin: 10px 0;
                @include mobile {
                    font-size: 40px;
                }
            }
            h2 {
                font-size: 39px;
                color: white;

            }
            h3 {
                font-size: 30px;
                color: white;
                @include mobile {
                    font-size: 20px;
                }

                span{
                    font-style: inherit;
                    background-color: #1dffff;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;     
               }
                .ityped-cursor{
                    animation: blink 1s infinite;
                }

                @keyframes blink {
                    50%{
                        opacity: 1;
                    }
                    100%{
                        opacity: 0;
                    }
                }
              }
            }
        .arrow {
            margin-top: 20px;
            display: flex;
            flex-direction: column;
            align-items: baseline;

        }
        a {
            position: relative;
            bottom: 0;
            img {
                width: 60px;
                animation: arrowBlink 2s infinite;
            }

            @keyframes arrowBlink {
                100%{
                    opacity: 0;
                }
            }
            @include mobile {
                margin-top: 80px;
                margin: 0;
            }
        }
    }    
}
